{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-5 d-flex flex-column align-items-center">
    <h2>Change Your Password</h2>
    <p class="text-muted">Enter your old password and your new password twice for confirmation.</p>

    <form method="post" class="w-30 mb-3 text-center">
        {% csrf_token %}
        {{ form|crispy }}

        <!--===NON FIELD ERRORS====--> 
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        <!--===FIELD ERRORS===-->       
        {% if form.errors %}
            <div class="alert alert-danger">
                {% for field in form %}
                    {% for error in field.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
        <button type="submit" class="btn btn-primary">Update Password</button>
        <a href="{% url 'dashboard' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
