













{% extends 'base.html' %}

{% block title %} | Forgot Password {% endblock %}

{% block content %}

<section class="login_area">
    <div class="container">
        <span>
            <!-- {% include 'inc/alerts.html' %} -->
          </span>
        <div class="login_inner">  
            

            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email" class="form-label">Email Address</label>
                    <input type="email" name="email" id="email" class="form-control"
                        placeholder="Enter your email address" required>
                </div>
                <button type="submit" class="btn btn-warning">Send Reset Link</button>
            </form>
            <!-- Additional buttons for Reset Password and Register -->
            <div class="form-group" style="text-align: center; display: flex; justify-content: space-between;">
                <a class="btn btn-primary mt-3" href="{% url 'login' %}" style="color: #1e3a64;">Login</a>
                <a  class="btn btn-primary" href="{% url 'register' %}" style="color: #1e3a64; height: 40px;">Register</a>
            </div>
        </div> 
    </div>
</section>
{% endblock %}












