{% load static %}

<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
    <div class="container-fluid">
        <!-- Brand -->
        <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block"
            href="https://www.creative-tim.com/product/argon-dashboard" target="_blank">User Dasboard</a>

        <!-- User -->
        <ul class="navbar-nav align-items-center d-none d-md-flex">
            <li class="nav-item dropdown">
                <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <div class="media align-items-center">
                        <span class="avatar avatar-sm rounded-circle">
                            {% if dashboard_form.instance.profile_picture %}
                            <img alt="Image placeholder" src="{{ dashboard_form.instance.profile_picture.url}}">
                            {% else %}
                            <img alt="Image placeholder" src="{% static 'images/default.png' %}">
                            {% endif %}
                        </span>
                        <div class="media-body ml-2 d-none d-lg-block">
                            <span class="mb-0 text-sm  font-weight-bold">{{ dashboard_form.instance.nick_name }}</span>
                        </div>
                    </div>
                </a>

           

            </li>
        </ul>
    </div>
</nav>