{% extends 'base.html' %}
{% load static %}
{% load blog_extras %}



{% block content %}
<section class="post_section news_post_2">
    <div class="container">
        <div class="row post_section_inner">
            <!-- Left_sidebar -->
            <div class="col-lg-8 left_sidebar"> 
                <!-- Feature Post Area-->
                <div class="row feature_post_area">
                    <div class="col-12">
                        <div class="feature_tittle"> 
                            <h2>All Post</h2>
                            <div class="post_select_button"> 
                                <select class="post_select" onchange="if(this.value) window.location.href=this.value;">
                                    <option value="">-- Select Category --</option>
                                    {% for category in categories_with_post_count %}
                                        <option value="{{ category.get_absolute_url }}"
                                            {% if category_selected and category_selected.id == category.id %}selected{% endif %}>
                                            {{ category.name }} ({{ category.post_count }})
                                        </option>
                                    {% endfor %}
                                </select>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        {% for post in posts %}
                        <div class="media feature_post"> 
                           <div class="feture_img"> 
                            <a href="{{ post.get_absolute_url }}">
                                {% if post.post_image and post.post_image.url %}
                                    <img src="{{ post.post_image.url }}" alt="{{ post.title }}">
                                {% else %}
                                    <img src="{% static 'images/post/placeholder.png' %}" alt="Placeholder Image">
                                {% endif %}
                                
                            </a>
                                <ul class="special_share">
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                           </div> 
                            <div class="media-body feture_content">
                                <a href="{{ post.get_absolute_url }}" class="f_heding">{{ post.title }}</a>
                                <h6>{{ post.publish }} <span>|</span><a href="#">
                                    {{ post.author.email|nice_name }}</a></h6>
                                <p>{{ post.body }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- <div class="col-12">
                        <div class="media feature_post"> 
                           <div class="feture_img"> 
                                <a href="news-details.html"><img src="{% static 'images/post/travel-post-2.jpg' %}" alt=""></a>  
                                <ul class="special_share">
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                           </div> 
                            <div class="media-body feture_content">
                                <a href="news-details.html" class="f_heding">Bitcoin ETFs seek approval of skeptical <br> regulator</a>
                                <h6>Jan 10, 2018 at 19:35 <span>|</span><a href="http://emran-khan.com/">Emran Khan</a></h6>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
                            </div>
                        </div>
                    </div> -->
                   
                  
                    <div class="col-12">
                       
                        <a href="" class="load_more_btn">Load more..</a>
                 
                    </div>
                </div> 
            </div>
            <!--==== End left_sidebar ==== -->

            <!--====Search====-->
            <div class="col-lg-4 right_sidebar"> 
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>
                </div>
                <!--==End search==-->

                <!--==Categories==-->
                <div class="categories">
                    <h3>Post Categories</h3>
                    <ul class="cpost_categories">
                        {% for category in categories_with_post_count %}
                            <li>
                                <a href="{{ category.get_absolute_url }}"
                                   {% if category_selected and category_selected.id == category.id %}class="active"{% endif %}>
                                    {{ category.name }}
                                    <span>{{ category.post_count }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div> 
                <!--==End Categories==-->

                <!--==== Trending News ====-->
                <div class="latest_news_widget p-0">
                    <h2>Trending News</h2>
                    <div class="widget"> 
                        <a href="news-details.html"><img src="{% static 'images/post/lnw-1.jpg' %}" alt=""></a>
                        <a href="news-details.html" class="w_heding">Envion – Digital Currency Mint in Exploits World’s Lowest Cost Power</a>
                    </div>
                    
                  
                    <a href="news.html" class="load_more_btn">Load more..</a>
                </div> 
                <!-- ======End Trending News ====== -->


              
                
                <!-- Video widget -->
                <div class="video_widget">
                    <div class="watch_video">
                        <a href="video-details.html" class="video_thumbnail">
                            <img src="{% static 'images/post/wathc-5.jpg' %}" alt="">
                            <span class="play_btn"><i class="flaticon-play-button">5.16</i></span>
                        </a>
                        <a href="video-details.html" class="video_heding">The easiest way to buy Bitcoin and Ethereum</a>
                    </div>
                    <a href="news.html" class="load_more_btn">Load more..</a>
                </div> 
                
                
            </div>
        </div>
    </div>
</section>

{% endblock %}