{% load static  %}
<!-- TODO: Make a news page for blog app -->
<div class="video_widget">
    <div class="watch_video">
        <a href="video-details.html" class="video_thumbnail">
            <img src="{% static 'images/post/wathc-5.jpg' %}" alt="">
            <span class="play_btn"><i class="flaticon-play-button">5.16</i></span>
        </a>
        <a href="video-details.html" class="video_heding">The easiest way to buy Bitcoin and Ethereum</a>
    </div>
    <!-- <a href="news.html" class="load_more_btn">Load more..</a> -->
</div> 