{% extends 'base.html' %}
{% load static %}
{% load blog_extras %}

{% block content %}

<!-- Post section -->
<section class="post_section news_post">
    <div class="container">
        <div class="row post_section_inner">

            <!-- Left Column: Post + Comments -->
            <div class="col-lg-8">  
                <div class="news_left_sidebar">

                    <!-- News Item -->
                    <div class="news_item news_details">
                        <h6>
                            <span>{{ post.publish }}</span>
                            <a href="#">{{ post.author.email|nice_name }}</a>
                            <a href="#" class="investing" style="background-color: #7b40a1;">{{ post.category }}</a>
                            <div class="btn-group m-3">
                                {% if user.is_staff or user == post.author %}
                                <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-cog"></i> Manage
                                </button>
                               
                                <div class="dropdown-menu  m-3 p-5">
                                    <a class="dropdown-item mb-3" href="{% url 'edit_post' post.pk %}"><i class="fa fa-edit"></i> Edit</a>
                                    <a class="dropdown-item" href="{% url 'delete_post' post.pk %}"><i class="fa fa-trash"></i> Delete</a>
                                </div>
                               
                            </div>
                            {% endif %}
                        </h6>
                        <a href="news-details.html" class="news_heding">{{ post.title|safe }}</a>

                        {% if post.author.dashboard.profile_picture %}
                            <img src="{{ post.author.dashboard.profile_picture.url }}" alt="Author Image" class="rounded-circle" style="width:100px; height:100px;">
                        {% else %}
                            <img src="{% static 'images/default.png' %}" alt="Placeholder Image">
                        {% endif %}

                        <p class="fast_p">{{ post.body|safe }}</p>

                        <div class="share_row row">
                            <div class="col-sm-6 share_area">
                                <ul class="list-inline m-0">
                                    <li class="list-inline-item m-1">
                                        <a class="btn btn-sm" href="{% url 'share_post' post.pk %}" style="background-color: #ffaa3a; color: #fff;">
                                            <i class="fa fa-share"></i> Share
                                        </a>
                                    </li>

                                    <li class="list-inline-item m-1">
                                        <a class="btn btn-sm" href="#"><i class="fa fa-facebook"></i></a>
                                    </li>

                                    <li class="list-inline-item m-1">
                                        <a class="btn btn-sm" href="#"><i class="fa fa-instagram"></i></a>
                                    </li>

                                    <li class="list-inline-item m-1 d-flex align-items-center">
                                        <button class="btn btn-sm" id="like-btn" data-url="{% url 'like_post' post.id %}">
                                            {% if user in post.likes.all %}
                                            ❤️ Unlike
                                            {% else %}
                                            🤍 Like
                                            {% endif %}
                                        </button>
                                        
                                        <span class="badge badge-secondary ml-2" id="like-count">{{ post.total_likes }}</span>
                                      
                                        <div id="heart-splash"></div>

                                    </li>
                                      
                                </ul>
                            </div>
                            <div class="col-sm-6 back_to">
                                <a href="/"><i class="fa fa-arrow-left"></i>Back to blog</a>
                            </div> 
                        </div> 
                    </div> 
                   

                    <!-- Comments -->
                    <div class="comment_area">
                        <h2>Comments ({{ comments.count }})</h2>
                        {% for comment in comments %}
                            <div class="media mb-4">
                                <div class="media-left">
                                    {% if comment.author.dashboard.profile_picture %}
                                    <img src="{{ comment.author.dashboard.profile_picture.url }}" 
                                         alt="{{ comment.author.username }}" 
                                         class="rounded-circle" height="50" width="50">
                                {% else %}
                                    <img src="{% static 'images/default.png' %}" 
                                         alt="Default Image" 
                                         class="rounded-circle" height="50" width="50">
                                {% endif %}
                                
                                    <!-- Author Name -->
                                    <a href="#">{{ comment.author.email|nice_name }}</a>
                                </div>
                                <div class="media-body">
                                    <p>{{ comment.body|safe }}</p>
                                    <h6>{{ comment.created_at|date:"d M, Y" }}</h6>

                                    <!--======Reply=====-->
                                    <a href="?reply_to={{ comment.id }}#comment-form" class="reply_btn">Reply</a>

                                    {% for reply in comment.replies.all %}
                                        <div class="media mt-3 ml-5">
                                            <div class="media-left">
                                                {% if reply.author.dashboard.profile_picture %}
                                                <img src="{{ reply.author.dashboard.profile_picture.url }}" 
                                                     alt="{{ reply.author.username }}" 
                                                     class="rounded-circle" height="40" width="40">
                                            {% else %}
                                                <img src="{% static 'images/default.png' %}" 
                                                     alt="Default Image" 
                                                     class="rounded-circle" height="40" width="40">
                                            {% endif %}
                                            
                                                <a href="#">{{ reply.author.email|nice_name }}</a>
                                            </div>
                                            <div class="media-body">
                                                <p>{{ reply.body|safe }}</p>
                                                <h6>{{ reply.created_at|date:"d M, Y" }}</h6>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <!-- Comment Form -->
                    <div class="leave_reply" id="comment-form">
                        <h2>
                            {% if reply_to %}
                                Reply to {{ reply_to.author.email|nice_name }}
                            {% else %}
                                Leave a Comment
                            {% endif %}
                        </h2>
                        <form method="post" class="row login_from">
                            {% csrf_token %}
                          
                            <div class="form-group col-12">
                                {{ form.body }}
                            </div>

                            {% if reply_to %}
                                <input type="hidden" name="parent_id" value="{{ reply_to.id }}">
                            {% endif %}

                            <div class="form-group larg_btn col-12">
                                <button class="sm_btn" type="submit">
                                    Submit <i class="fa fa-arrow-right"></i>
                                </button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

            <!-- Right Column: Sidebar -->
            <div class="col-lg-4 right_sidebar">  

                <!-- Search -->
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>
                </div>

                <!-- Categories -->
                <div class="categories mb-3">
                    <h3>Post Categories</h3>
                    <ul class="cpost_categories">
                        {% for category in categories_with_post_count %}
                            <li>
                                <a href="{{ category.get_absolute_url }}"
                                   {% if category_selected and category_selected.id == category.id %}class="active"{% endif %}>
                                    {{ category.name }}
                                    <span>{{ category.post_count }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>  

                <!-- Trending / Popular -->
                {% include 'blog/popular.html' %}

                <!-- News -->
                {% include 'blog/news.html' %}

            </div>

        </div> <!-- row -->
    </div> <!-- container -->
</section>

{% endblock %}
