{% load static %}
<!-- Header Area -->
<header class="main_header_area" id="header"> 
   <div class="container">
        <div class="header_menu"> 
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="/"><img src="{% static 'images/cypherguard.png' %} " alt="" height="70px"></a>
                <!-- Small Divice Menu-->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar_supported"  aria-expanded="false" aria-label="Toggle navigation"> 
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
                
                <div class="collapse navbar-collapse navbar_supported">
                    <ul class="navbar-nav"> 
                        <li class="dropdown">
                           <a href="/">Cypher Guard</a>
                           
                        </li>  
                        <li><a class="nav-link" href="about.html">About us</a></li> 
                        {% if user.is_authenticated %} 
                        <li class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">BLog</a>
                            <ul class="dropdown-menu">
                                <li><a href="news.html">News v1</a></li> 
                                <li><a href="news-2.html">News v2</a></li>  
                                <li><a href="news-3.html">News v3</a></li>  
                                <li><a href="news-details.html">News details </a></li> 
                                <li><a href="video-details.html">Video details </a></li> 
                                <li><a href="news-details-2.html">News details v2</a></li> 
                                <li><a href="news-details-3.html">News details v3</a></li> 
                            </ul>
                        </li> 
                        <li class="dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu">
                                <li><a href="shop.html">Shop</a></li>  
                                <li><a href="shop-details.html">Shop Details</a></li> 
                            </ul>
                        </li>  
                        <li><a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a></li> 
                        {% else %}
                        <li class="dropdown">
                      
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">account</a>
                            <ul class="dropdown-menu">  
                                <li class="dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">Sub Menu</a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a href="#" class="active">-Sub Menu v1</a></li>
                                        <li><a href="#">-Sub Menu v2</a></li> 
                                        <li><a href="#">-Sub Menu v3</a></li> 
                                    </ul>
                                </li>
                               
                                <li><a href="{% url 'register'  %}">Register</a></li> 
                                <li><a href="{% url 'login' %}">Login</a></li> 
                                <li><a href="error.html">Error (404)</a></li>
                            </ul>
                            {% endif %}
                        </li>   
                        <li><a class="nav-link" href="{% url 'contact' %}">Contact us</a></li> 
                        <!-- Pages Heder Area --> 
                        <div class="container " style="height: 100px;">
                            <div class="pages_heder">
                                
                                <h2>{{ page_title }}</h2>
                                <ol class="breadcrumb">
                                    <li class="active"><a href="/">Cypher Guard</a></li>  
                                  
                                </ol>
                            </div>
                        </div> 
                        <!-- End Pages Heder Area -->
                      
                    </ul>  
                </div>
            </nav>  
            <!-- <ul class="search_button_content nav">
                <li class="dropdown search_dropbown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-search"></i></a>
                    <ul class="dropdown-menu">
                        <li>
                            <input type="text" placeholder="Search..">
                            <span><i class="fa fa-search"></i></span> 
                        </li>
                    </ul>
                </li>  
            </ul>   -->
       </div>
    </div>
</header>
<div style="display: flex; align-items: center; justify-content: center;">
    {% include 'inc/alerts.html' %}
</div>
<!-- Header Area -->  
 
